
@{
    Layout = null;
    ViewBag.Title = "setparams";
}

<link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
<script src="~/Scripts/layui/layui.js"></script>

<form class="layui-form layui-form-pane" action="" style="width: 90%;margin: 0 auto;margin-top: 20px">
    <div class="layui-form-item" hidden>
        <label class="layui-form-label">EQID</label>
        <div class="layui-input-block">
            <input id="eqp" class="layui-input" lay-filter="eqp" disabled>
        </div>
    </div>

    <div class="layui-form-item" hidden>
        <label class="layui-form-label">Recipe ID</label>
        <div class="layui-input-block">
            <input id="rcpid" class="layui-input" lay-filter="rcpid" disabled>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" style="width:40%;">参数名/ParameterName</label>
        <div class="layui-input-block" style="margin-left:40%;">
            @*<input id="paramname" class="layui-input" lay-filter="paramname">*@
            <select lay-verify="required" lay-search="" id="paramname" lay-filter="paramname">
            </select>
        </div>
    </div>
    <div class="layui-form-item" hidden>
        <label class="layui-form-label" style="width:40%;">参数键</label>
        <div class="layui-input-block">
            @*<input id="paramname" class="layui-input" lay-filter="paramname">*@
            <input class="layui-input" id="paramkey" lay-filter="paramkey" disabled>

        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" style="width:40%;">类型/Type</label>
        <div class="layui-input-block" style="margin-left:40%;">
            <select id="type" class="layui-select" lay-filter="type">
                <option value="floatvalue">±</option>
                <option value="percent">百分比/Percentage</option>
                <option value="enum">枚举值/Enum</option>
                <option value="value">定义域范围/Range</option>
            </select>
            @*<input type="checkbox" id="type" class="layui-form-checkbox" lay-filter="type" value="true">*@
        </div>
    </div>

    <div id="floatvalue">
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:40%;">+</label>
            <div class="layui-input-block" style="margin-left:40%;">
                <input type="number" id="uplimit" class="layui-input" lay-filter="uplimit">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:40%;">-</label>
            <div class="layui-input-block" style="margin-left:40%;">
                <input type="number" id="lowlimit" class="layui-input" lay-filter="lowlimit">
            </div>
        </div>
    </div>
    <div id="percent" hidden>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:40%;">增幅/Increase</label>
            <div class="layui-input-block" style="margin-left:40%;">
                <input type="number" id="uplimit2" class="layui-input" lay-filter="uplimit" placeholder="%">

            </div>

        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:40%;">减幅/Decrease</label>
            <div class="layui-input-block" style="margin-left:40%;">
                <input type="number" id="lowlimit2" class="layui-input" lay-filter="lowlimit" placeholder="%">
            </div>
        </div>
    </div>
    <div id="enum" hidden>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:40%;">枚举值/Enum</label>
            <div class="layui-input-block" style="margin-left:40%;">
                <input type="text" id="enumvalue" class="layui-input" lay-filter="enumvalue" placeholder="请以‘/’隔开，Please separate by '/'; eg.90/100/110">
            </div>

        </div>

    </div>
    <div id="value" hidden>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:40%;">最小值/Minimum</label>
            <div class="layui-input-block" style="margin-left: 40%;">
                <input type="number" id="lowlimit3" name="lowlimit" placeholder="最小值/Minimum" autocomplete="off" class="layui-input" lay-filter="lowlimit">
            </div>
        </div>
        <div class="layui-form-item">

            <label class="layui-form-label" style="width:40%; ">
                最大值/Maximum
            </label>
            <div class="layui-input-block" style="margin-left: 40%; ">
                <input type="number" id="uplimit3" name="uplimit" placeholder="最大值/Maximum" autocomplete="off" class="layui-input" lay-filter="uplimit">
            </div>

        </div>
    </div>

</form>
<script>

    layui.use(['jquery', 'form'], function () {
        var $ = layui.jquery;
        const form = layui.form;
        form.render();
        //回传给母页面的数据
        var retdata = {};
        var urlParams = new URLSearchParams(window.location.search);
        var RecipeID = urlParams.get("RecipeID");
        GetParams();

        function GetParams() {
            //执行重载
            $.ajax({
                url: '/RecipeParameter/GetParamsList',//控制器活动,返回一个分部视图,并且给分部视图传递数据.
                data: {
                    "paramFilter": RecipeID
                    //"recipeTypeFilter": $("#recipeTypeFilter").val(),

                },//传给服务器的数据(即后台AddUsers()方法的参数,参数类型要一致才可以)
                type: 'POST',
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',//数据类型必须有
                async: false,
                success: function (data) {
                    //layer.open({ content: data.message });
                    console.log(data)
                    $("#paramname").html(data);
                    form.render();
                    var sel = document.querySelector("#paramname");
                    var index = sel.selectedIndex;
                    var val = sel.options[index].value;
                    $("#paramkey").val(val)
                    console.log("select:" + val)
                },
                error: function (message) {
                    alert('error!');
                }
            });
        }
        form.on('select(paramname)', function (data) {
            console.log("select:" + data.value)
            $("#paramkey").val(data.value)
        })
        form.on('select(type)', function (data) {
            //console.log(data.value);
            if (data.value == 'floatvalue') {
                $('#floatvalue').show();
                $('#percent').hide();
                $('#enum').hide();
                $('#value').hide();

                form.render('select');
            }
            else if (data.value == 'percent') {
                $('#percent').show();
                $('#floatvalue').hide();
                $('#enum').hide();
                $('#value').hide();
                retdata.uplimit = $("#uplimit2").val();
                retdata.lowlimit = $("#lowlimit2").val();
                form.render('select');
            }
            else if (data.value == 'enum') {
                $('#enum').show();
                $('#floatvalue').hide();
                $('#percent').hide();
                $('#value').hide();
                form.render('select');
            }
            else if (data.value == 'value') {
                $('#value').show();
                $('#floatvalue').hide();
                $('#percent').hide();
                $('#enum').hide();
                form.render('select');
            }
        });

        window.callback = function () {
            retdata.eqpid = $("#eqp").val()
            retdata.rcpid = $("#rcpid").val();
            var sel = document.querySelector("#paramname");
            var index = sel.selectedIndex;
            var val = sel.options[index].text;
            retdata.paramname = val;
            retdata.paramkey = $("#paramkey").val();
            retdata.type = $("#type").val();
            retdata.enum = $("#enumvalue").val();
            if (retdata.type == 'percent') {
                retdata.uplimit = $("#uplimit2").val();
                retdata.lowlimit = $("#lowlimit2").val();
            }
            else if (retdata.type == 'value') {
                retdata.uplimit = $("#uplimit3").val();
                retdata.lowlimit = $("#lowlimit3").val();
            }
            else {
                retdata.uplimit = $("#uplimit").val();
                retdata.lowlimit = $("#lowlimit").val();
            }

            return JSON.stringify(retdata);
        };





    });

</script>

