
@{
    Layout = null;
    ViewBag.Title = "AddVersion";
}
<!DOCTYPE html>
<link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
<script src="~/Scripts/layui/layui.js"></script>
<script src="~/Scripts/layui/layui.table.formdate.js"></script>
<script src="~/Scripts/RMS/AddVersion.js?v=1.2"></script>


<fieldset class="layui-elem-field layui-field-title">
    <legend id="info"></legend>
</fieldset>
<div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief" style="width: 80%;margin: 0 auto;margin-top: 20px">
    <ul class="layui-tab-title">
        <li class="layui-this">Version Info</li>
        <li>Approval Record</li>
        <li>Recipe Content</li>
    </ul>
    <div class="layui-tab-content" style="height: 100px;">
        <div class="layui-tab-item layui-show">
            <form class="layui-form  layui-form-pane" action="" lay-filter="versioninfo" id="versioninfo" style="display:none">


                <div class="layui-form-item">
                    <input type="text" name="ID" autocomplete="off" class="layui-input" style="display:none">
                    <div class="layui-inline">
                        <label class="layui-form-label">Version ID</label>
                        <div class="layui-input-block">
                            <input id='rcpversionID' type="text" name="NAME" autocomplete="off" class="layui-input" disabled>
                        </div>
                    </div>
                </div>



                <fieldset class="layui-elem-field layui-field-title">
                    <legend>Version Body</legend>
                </fieldset>


                <div class="layui-upload">
                    <div style="display: flex; align-items: center;">
                        <button type="button" class="layui-btn" id="loadbody">Load Recipe from Machine</button>
                        <button type="button" class="layui-btn" id="loadbodyfromeffectiveversion">Load Recipe from Effective Version</button>
                    </div>
                    <div class="layui-upload-list">
                        <img class="layui-upload" id="demo1">
                        <p id="demoText"></p>
                    </div>
                </div>
                <table class="layui-hide" id="filetable" lay-filter="filetable"></table>
                <fieldset class="layui-elem-field layui-field-title">
                    <legend>Update Remark</legend>
                </fieldset>

                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">Remark</label>
                    <div class="layui-input-block">
                        <textarea placeholder="Update reason" class="layui-textarea" name="REMARK"></textarea>
                    </div>
                </div>

                <div class="layui-form-item">
                    <button type="button" class="layui-btn layui-btn-normal" id="saveform">Save</button>
                    <button type="submit" class="layui-btn" lay-submit="" lay-filter="sbm">Submit</button>
                </div>
            </form>
        </div>
        <div class="layui-tab-item">

            <table class="layui-hide" id="processrecordtable" lay-filter="processrecordtable"></table>

        </div>
        <div class="layui-tab-item">

            @*<textarea id="textarea_recipebody" class="layui-textarea" rows="20" readonly></textarea>*@
            <pre lay-encode="true" class="layui-code" id="textarea_recipebody"></pre>
            <table class="layui-hide" id="recipebody" lay-filter="tableEvent"></table>
        </div>

    </div>

</div>
<script type="text/html" id="filetoolbar">
    @*<a class="layui-btn layui-btn layui-btn-xs" lay-event="download">ÏÂÔØ</a>*@
    <a class="layui-btn layui-btn layui-btn-xs" lay-event="delete">Delete</a>
</script>


@*<fieldset class="layui-elem-field layui-field-title">
        <legend>Ç©ºË¼ÇÂ¼</legend>
    </fieldset>*@

