
@{
    Layout = null;
}
<!DOCTYPE html>
<link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
<script src="~/Scripts/layui/layui.js"></script>



<form class="layui-form layui-form-pane" action="" style="width: 60%;margin: 0 auto;margin-top: 20px">

    <div class="layui-form-item">
        <label class="layui-form-label">ID</label>
        <div class="layui-input-block">
            <input id="id" class="layui-input" lay-filter="id">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">角色名</label>
        <div class="layui-input-block">
            <input id="name" class="layui-input" lay-filter="name">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">描述</label>
        <div class="layui-input-block">
            <input id="description" class="layui-input" lay-filter="description">
        </div>
    </div>

</form>




<script>
            layui.use(['jquery'], function () {
                var $ = layui.jquery;

                //回传给母页面的数据
                var retdata = {};

                window.callback = function () {
                    retdata.id = $("#id").val();
                    retdata.name = $("#name").val();
                    retdata.description = $("#description").val();
                    return JSON.stringify(retdata);
                };

            })


</script>
