
@{
    Layout = null;
}

<!DOCTYPE html>

<table class="layui-hide" id="module" lay-filter="module"></table>
<input id="selectedID" class="layui-input" lay-filter="selectedID" disabled="disabled" @*style="display:none;"*@>
<link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
<script src="~/Scripts/layui/layui.js"></script>
<script>

    layui.use(['table', 'jquery'], function () {
        var table = layui.table
            , $ = layui.jquery;
        console.log($("#selectedID").val());
        table.render({
            elem: '#module'
            , height: 'full'
            , url: '../Role/GetSelectedModuleRole/' //数据接口
            , title: '角色'
            , id: "module"
           // , page: true
            , limit: 9999
            , cols: [[
                {  type: 'checkbox', fixed: 'left', height: 'auto' }
                , { field: 'ID', title: 'ID', filter: true }
                , { field: 'CLASSNAME', title: 'CLASSNAME' }
                , { field: 'NAME', title: 'NAME' }
                , { field: 'LINKURL', title: 'LINKURL' }

            ]]
            ,where: {//这里传参 向后台
                "selectedID": '@ViewBag.RoleID',
            }
            , done: function (res, curr, count) {
               // layui.table.cache["role"][0].LAY_CHECKED = true;
               // res.data[0].LAY_CHECKED = true;
                //console.log(res);
            }
        });

        //回传给母页面的数据
        var retdata = {};

        window.callback = function () {
            var selectData = layui.table.checkStatus('module').data;
            retdata.roles = selectData;
            return JSON.stringify(retdata);
        };

    })
</script>
