
@{
    ViewBag.Title = "MarkingItem";
}
<script src="~/Scripts/layui/layui.table.formdate.js"></script>
<script src="~/Scripts/Marking/markingfields.js"></script>

<table class="layui-hide" id="markingfields" lay-filter="markingfields"></table>

