@{
    
}



<div class="layui-row layui-col-space10">
    <div class="layui-col-md4">
        @*<table class="layui-hide" id="projecttable" lay-filter="projecttable"></table>*@

    </div>
    <div class="layui-col-md8">

    </div>

</div>

<script>
    layui.use(['layer', 'table', 'form', 'upload'], function () {
        var layer = layui.layer
            , table = layui.table
            , form = layui.form;


        var project = table.render({
            elem: '#projecttable'
            , url: '/Home/GetProjects'

            , id: "projecttable"
            , limit: 1000
            , limits: [1000]
            , height: 'full-195'
            , cols: [[
               { field: 'NAME', title: '种类', edit: 'text', width: 150 }
                , { field: 'VERSION_LATEST', title: '最新版本', width: 110 }
                , { field: 'VERSION_EFFECTIVE', title: '生效版本', edit: 'text', width: 110 }

            ]]
        });


    });
</script>