
@{

}
<style>
    .scrollable-div {
        max-height: 80vh;
        overflow-y: auto; /* 或者使用 overflow-y: auto; */
    }

    .selected {
        background-color: #89cff0 !important;
    }
</style>
<script src="~/Scripts/layui/xm-select.js"></script>
<script src="~/Scripts/layui/layui.table.formdate.js"></script>
<script src="~/Scripts/Ems/Equipment.js"></script>

<form class="layui-form layui-form-pane" action="">
    <div class="layui-form-item layui-row">
        <div class="layui-row">
            <div class="layui-input-inline" style="width:15%">
                <select name="process" id="process" lay-filter="process" lay-verify="required">
                    <option value="">请选择Process</option>
                    <option value="DPS">DPS</option>
                </select>
            </div>
            @*<div class="layui-input-inline" style="width: 80% ;margin-left: 1%">
                <div id="eqps" lay-filter="index" class="xm-select-demo"></div>
            </div>*@
        </div>
    </div>
</form>

<table class="layui-hide" id="equipmenttable" lay-filter="equipmenttable"></table>




