
@{

}
<style>
    .scrollable-div {
        max-height: 80vh;
        overflow-y: auto; /* 或者使用 overflow-y: auto; */
    }

    .selected {
        background-color: #89cff0 !important;
    }
</style>
<script src="~/Scripts/layui/xm-select.js"></script>
<script src="~/Scripts/layui/layui.table.formdate.js"></script>
<script src="~/Scripts/AlarmConfig/AlarmRecords.js"></script>

<form class="layui-form layui-form-pane" action="">
    <div class="layui-form-item layui-row">
        <div class="layui-input-inline">
            <div id="processSelect" class="xm-select-demo"></div>
        </div>

        <div class="layui-input-inline">
            <div id="equipmentTypeSelect" class="xm-select-demo"></div>
        </div>

        <div class="layui-input-inline">
            <div id="equipmentSelect" class="xm-select-demo" style="width:200%"></div>
        </div>
    </div>
</form>

<div class="layui-row layui-col-space10" style=" margin-bottom: 50px">
    <table class="layui-hide" id="ALarmRecordsTable" lay-filter="ALarmRecordsTable"></table>
</div>



<script>
    layui.use(['layer', 'table', 'form', 'upload', 'element'], function () {
        var layer = layui.layer
            , table = layui.table
            , form = layui.form
            , upload = layui.upload
            , element = layui.element;

        var processSel = xmSelect.render({
            el: '#processSelect',
            //initValue: [0],
            radio: true,
            clickClose: true,
            model: {
                icon: 'hidden',
                label: {
                    type: 'text'
                }
            },
            tips: '请选择Process',
            block: {
                //最大显示数量, 0:不限制
                showCount: 0,
                //是否显示删除图标
                showIcon: false,
            },
            on: function (data) {
                //arr:  当前多选已选中的数据
                var arr = data.arr;
                //change, 此次选择变化的数据,数组
                var change = data.change;
                //isAdd, 此次操作是新增还是删除
                var isAdd = data.isAdd;
                currentLine = arr[0].value;
                UpdateEquipmentTypeSelect(arr[0].value);
            }
        });

        var equipmentTypeSel = xmSelect.render({
            el: '#equipmentTypeSelect',
            //initValue: [0],
            radio: true,
            clickClose: true,
            model: {
                icon: 'hidden',
                label: {
                    type: 'text'
                }
            },
            tips: '请选择EquipmentType',
            block: {
                //最大显示数量, 0:不限制
                showCount: 0,
                //是否显示删除图标
                showIcon: false,
            },
            on: function (data) {
                //arr:  当前多选已选中的数据
                var arr = data.arr;
                //change, 此次选择变化的数据,数组
                var change = data.change;
                //isAdd, 此次操作是新增还是删除
                var isAdd = data.isAdd;
                currentLine = arr[0].value;
                UpdateEquipmentSelect(arr[0].value);
            }
        });
        var equipmentSel = xmSelect.render({
            el: '#equipmentSelect',
            //initValue: [0],
            radio: true,
            clickClose: true,
            model: {
                icon: 'hidden',
                label: {
                    type: 'text'
                }
            },
            tips: '请选择Equipment',
            block: {
                //最大显示数量, 0:不限制
                showCount: 0,
                //是否显示删除图标
                showIcon: false,
            },
            on: function (data) {
                //arr:  当前多选已选中的数据
                var arr = data.arr;
                //change, 此次选择变化的数据,数组
                var change = data.change;
                //isAdd, 此次操作是新增还是删除
                var isAdd = data.isAdd;
                currentLine = arr[0].value;
                console.log(arr[0].value);
                ShowAlarmRecordsTable(arr[0].value);
            }
        });

        Initialization();

        async function Initialization() {
            try {
                let result1 = await $.ajax({
                    type: 'post',
                    dataType: 'json',
                    url: './AlarmConfig/GetProcesses',//'./RecipeMapping/GetLines',
                    data: {

                    },
                    success: function (data) {

                        var seldata = data.map((item, index) => ({
                            name: item,
                            value: item,
                            selected: index === 0
                        }));


                        processSel.update({
                            data: seldata,
                        });

                        UpdateEquipmentTypeSelect(data[0]);
                    },
                    error: function () {
                    }
                });

            } catch (error) {
                //处理错误
            }
        }
        async function UpdateEquipmentTypeSelect(process) {
            try {
                let result1 = await $.ajax({
                    type: 'post',
                    dataType: 'json',
                    url: './AlarmConfig/GetEquipmentType',//'./RecipeMapping/GetLines',
                    data: {
                        process: process
                    },
                    success: function (data) {

                        var seldata = data.data.map((item, index) => ({
                            name: item.NAME,
                            value: item.ID,
                            selected: index === 0
                        }));
                        equipmentTypeSel.update({
                            data: seldata,
                        });
                        UpdateEquipmentSelect(data.data[0].ID);
                    },
                    error: function () {
                    }
                });

            } catch (error) {
                //处理错误
            }
        }

        async function UpdateEquipmentSelect(equipmentType) {
            try {
                let result1 = await $.ajax({
                    type: 'post',
                    dataType: 'json',
                    url: './AlarmConfig/GetEquipment',//'./RecipeMapping/GetLines',
                    data: {
                        equipmentTypeId: equipmentType
                    },
                    success: function (data) {
                        var seldata = data.data.map((item, index) => ({
                            name: item.ID + '-' + item.NAME,
                            value: item.ID,
                            selected: index === 0
                        }));
                        equipmentSel.update({
                            data: seldata,
                        });
                        ShowAlarmRecordsTable(data.data[0].ID);
                    },
                    error: function () { }
                });
            }
            catch (error) {
                //处理错误
            }
        }

        function ShowAlarmRecordsTable(equipmentId) {
            window.rcptable = table.render({
                elem: '#ALarmRecordsTable'
                , url: './AlarmConfig/GetAlarmRecords'
                //, toolbar: '#configHeaderToolBar'
                , id: "ALarmRecordsTable"
                , limit: 1000
                , limits: [1000]
                , height: 'full-235'
                , cols: [[
                    { field: 'ALTIME', title: 'Time', templet: '<div>{{ FormDate(d.ALTIME, "yyyy-MM-dd HH:mm:ss") }}</div>', width: 180 }
                    , { field: 'EQID', title: 'Equipment' }
                    , { field: 'ALID', title: 'AlarmCode' }
                    , { field: 'ALTX', title: 'Text' }

                    // , { field: 'RECIPE_EFFECTIVE_VERSION', title: '生效版本', width: '15%' }
                    // { fixed: 'right', width: '15%', align: 'center', toolbar: '#configToolBar' }
                ]]
                , where: {
                    equipmentId: equipmentId
                }

                , done: function (data) {

                }
            });

        }
    });
</script>



