<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>无权限</title>
</head>
<body>
    <hgroup>
        <h1>无权限</h1>
        <h2>无权限访问页面</h2>
    </hgroup>
</body>
</html>
